*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    
    background-color: aqua;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
label{
    display: block;
    position: absolute;
    top: 30%;
    left: 40%;
    width: 280px;
    height: 370px;
    perspective: 1000px;
    transform-style: preserve-3d;
    transform: translate(-10%, -20%);
    cursor: pointer;

}
.container{
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: all 0.5s ease-in-out;
    z-index: 1;
}
.container .front{
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    background: rgb(200, 213, 241);
    backface-visibility: hidden;
    border-radius: 0 20px 0 20px ;

}
.front img{
    width: 30%;
    margin-top: 20px;
    border-radius: 20px;

}
h1{
    text-transform: uppercase;
}
h1:hover{
    color: crimson;
}
p{
    text-align: center;
}
.container .back{
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    background: white;
    backface-visibility: hidden;
    border-radius: 0 15px 0 15px ;
}
.container .back{
    transform: rotateX(180deg);
    color: black;
    background: rgb(200, 213, 241);
    
}
label:hover .container{
    transform: rotateX(180deg);
    box-shadow: 0 10px 10px 0 black;
}
input{
    display: none;
}
:checked + .container{
    transform: rotateX(180deg);
}
label:hover:checked +.container{
    transform: rotateX(180deg);
    box-shadow: 0 10px 10px 0 gray;
}
h2{
    padding-left: 10px;
    padding-top: 20px;
    text-transform: capitalize;
}
.click{
    padding-top: 20%;
}
